{form name=$formName}

{form_field form=$form field='birth_date'}
    <div class="form-group group-birthdate hidden {if $error}has-error{/if}">

        <label class="control-label">{intl l='Date of birth' d='customerbirthdate.bo.default'} <span class="required">*</span></label>

        <div>
            <div class="control-input col-sm-3">
                <select name="{$name}[day]" class="form-control" aria-required="true" required>
                    <option>{intl l="Day" d='customerbirthdate.bo.default'}</option>
                    {foreach from=$days item=day}
                        <option value="{$day}"
                                {if $value["day"] == $day}selected{/if}>{$day}</option>
                    {/foreach}
                </select>
            </div>

            <div class="control-input col-sm-3">
                <select name="{$name}[month]" class="form-control" aria-required="true" required>
                    <option>{intl l="Month" d='customerbirthdate.bo.default'}</option>
                    {foreach from=$months item=month}
                        <option value="{$month}"
                                {if $value["month"] == $month}selected{/if}>{$month}</option>
                    {/foreach}
                </select>
            </div>

            <div class="control-input col-sm-3">
                <select name="{$name}[year]" class="form-control" aria-required="true" required>
                    <option>{intl l="Year" d='customerbirthdate.bo.default'}</option>
                    {foreach from=$years item=year}
                        <option value="{$year}"
                                {if $value["year"] == $year}selected{/if}>{$year}</option>
                    {/foreach}
                </select>
            </div>
        </div>
        <br>
        <br>
    </div>
{/form_field}

{/form}
