{assign var='thisYear' value=$smarty.now|date_format:'%Y'}

{form name="thelia.front.customer.create"}
    <div class="form-group group-birthdate hidden">
        <label class="control-label">{intl l='Date of birth' d='customerbirthdate.fo.default'} <span class="required">*</span></label>
        <div class="control-input">

            {form_field form=$form field='birth_year'}
                <select name="{$name}" class="form-control {if $error}has-error{/if}" aria-required="true" required>
                    <option>--- {intl l='Year' d='customerbirthdate'} ---</option>
                    {foreach from=$choices item=year}
                        <option value="{$year->label}">{intl l=$year->label d='customerbirthdate'}</option>
                    {/foreach}
                    {*for $year=$thisYear to $thisYear-120 step -1}
                        <option value="{$year}">{$year}</option>
                    {/for*}
                </select>

                {if $error }
                    <span class="help-block">{$message}</span>
                    {assign var="error_focus" value="true"}
                {elseif !$value}
                    {assign var="error_focus" value="true"}
                {/if}
            {/form_field}

            {form_field form=$form field='birth_month'}
                <select name="{$name}" class="form-control {if $error}has-error{/if}" aria-required="true" required>
                    <option>--- {intl l='Month' d='customerbirthdate'} ---</option>
                    {foreach from=$choices item=month}
                        <option value="{$month->value}">{intl l=$month->label d='customerbirthdate'}</option>
                    {/foreach}
                </select>

                {if $error }
                    <span class="help-block">{$message}</span>
                    {assign var="error_focus" value="true"}
                {elseif !$value}
                    {assign var="error_focus" value="true"}
                {/if}
            {/form_field}

            {form_field form=$form field='birth_day'}
                <select name="{$name}" class="form-control {if $error}has-error{/if}" aria-required="true" required>
                    <option>--- {intl l='Day' d='customerbirthdate'} ---</option>
                    {foreach from=$choices item=day}
                        <option value="{$day->label}">{$day->label}</option>
                    {/foreach}
                </select>

                {if $error }
                    <span class="help-block">{$message}</span>
                    {assign var="error_focus" value="true"}
                {elseif !$value}
                    {assign var="error_focus" value="true"}
                {/if}
            {/form_field}

        </div>
    </div>
{/form}
